.autocomplete {
    z-index:1; 
    position:absolute; 
    margin: 37px 0 0 16px; 
    border: 1px solid #ccc; 
    width: 40%;
    background-color: #ffffff;
    line-height: 30px;
}

.autocomplete li:hover{
    background-color: #ebe9ea;
    cursor: pointer;
}

.c-pos {
    position: absolute;
    top: 3px;
    right: 32px;
}

#sidebar-wrapper {
    min-height: 1000px;
}

.title {
    font-weight: 500;
    padding-bottom: 3px;
}

.mailContent {
    font-weight: 400;
    margin-top: 5px;
}

.row-item {
    border-bottom: 1px solid #ebe9ea;
    align-items: center;
    vertical-align: middle;
    line-height: 40px;
}

.row-item:hover {
    background-color: #f8f9fa!important;
    cursor: pointer;
}